@page 
@model ChatSystem.Pages.Chat.ChatMasterModel
@{
}
<div class="container chat-section">
    <div class="row g-0">

@*         <div class="container col-12 col-lg-5 col-xl-3 border-end chat-list">
 *@        <div class="col-12 col-md-3 border-end chat-list">
            <div class="px-4 d-none d-md-block">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 search-box">
                        <input type="text" class="form-control my-3" placeholder="Search..." />
                    </div>
                </div>
            </div>

            @foreach (var conversationDtoMember in Model.ConversationDtoList)
            {
                if (conversationDtoMember.isGroup)
                {


                    <a asp-page="/Chat/ChatMaster" asp-route-id="@conversationDtoMember.ConversationId"
                        class="list-group-item list-group-item-action border-0">
                        <div class="badge bg-success float-end">5</div>
                        <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle me-1" alt="@conversationDtoMember.ConversationName" width="40" height="40" />
                            <div class="flex-grow-1 ms-3">
                                    @conversationDtoMember.ConversationName
                                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                            </div>
                        </div>
                    </a>
                 
                }
                else
                {

                    <a asp-page="/Chat/ChatMaster" asp-route-id="@conversationDtoMember.ConversationId"
                        class="list-group-item list-group-item-action border-0">
                        <div class="badge bg-success float-end">5</div>
                        <div class="d-flex align-items-start">
                                <img src="@conversationDtoMember.Avatar" class="rounded-circle me-1" alt="@conversationDtoMember.OtherUserId" width="40" height="40" />
                            <div class="flex-grow-1 ms-3">
                                    @conversationDtoMember.OtherUserName
                                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                            </div>
                        </div>
                    </a>
                   
                }
                
            }
            
            <hr class="d-block d-lg-none mt-1 mb-0" />
        </div>

        @if (Model.conversationDto == null)
        {
            <div class="container col-12 col-md-7">
                <div class="d-flex align-items-center justify-content-center">No Conversation Choosen</div>
            </div>
        }
        else{


            <div class="col-12 col-md-7">
                @if (Model.conversationDto.isGroup)
                {
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                            <div class="position-relative">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle me-1" alt="@Model.conversationDto.ConversationName" width="40" height="40" />
                            </div>
                            <div class="flex-grow-1 ps-3">
                                <strong>@Model.conversationDto.ConversationName</strong>
                                <div class="text-muted small"><em>Typing...</em></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                            <div class="position-relative">
                                <img src="@Model.conversationDto.Avatar" class="rounded-circle me-1" alt="@Model.conversationDto.OtherUserName" width="40" height="40" />
                            </div>
                            <div class="flex-grow-1 ps-3">
                                <strong>@Model.conversationDto.OtherUserName</strong>
                                <div class="text-muted small"><em>Typing...</em></div>
                            </div>
                        </div>
                    </div>
                }
                

            
                <div class="chat-messages-section p-4">
                    <div class="all-chat-message">
                    
                        @foreach(var messageDto in Model.MessageDtoList){
                            if (messageDto.SenderId == Model.UserDto.UserId){
                            <div class="chat-message-right mb-4">
                                <div>
                                    <img src="@messageDto.Avatar" class="rounded-circle me-1" alt="Chris Wood" width="40" height="40" />
                                    <div class="text-muted small text-nowrap mt-2">@messageDto.DateSend</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 me-3">
                                    <div class="fw-bold mb-1">You</div>
                                    @messageDto.Content
                                </div>
                            </div>
                            }else{
                            <div class="chat-message-left pb-4">
                                <div>
                                    <img src="@messageDto.Avatar" class="rounded-circle me-1" alt="Sharon Lessman" width="40" height="40" />
                                    <div class="text-muted small text-nowrap mt-2">@messageDto.DateSend</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ms-3">
                                    <div class="fw-bold mb-1">@messageDto.SenderUserName</div>
                                        @messageDto.Content
                                </div>
                            </div>
                            }
                        }


                    
                
            </div>

            <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type your message" />
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
            </div>



        </div>
        
      
        <div class="col-12 col-md-2">
                
        </div>
        }
        
    </div>
</div>


<style>
    html, body {
        margin: 0;
        height: 120%;
        overflow: hidden
    }



	.chat-online {
		color: #34ce57
	}

	.chat-offline {
		color: #e4606d
	}


    .chat-list{
        max-height: 80vh;
        overflow-y: scroll
    }   
    .chat-list > * {
        margin: 20px 0;
        padding: 0 10px;
    }

    .chat-list > *:first-child {
        margin-top: 0px;
    }

	.chat-messages-section {
		display: flex;
		flex-direction: column;
		max-height: 80vh;
		overflow: hidden;
        padding-bottom: 10px
	}
    .all-chat-message{
        grid-column: 2;
        grid-row: 2;
        overflow-y: scroll;
        align-content: end;
        display: flex;
        flex-direction: column-reverse;
        min-height: 70vh;
    }

	.chat-message-left,
	.chat-message-right {
		display: flex;
		flex-shrink: 0
	}

	.chat-message-left {
		margin-right: auto
	}

	.chat-message-right {
		flex-direction: row-reverse;
		margin-left: auto
	}

	.py-3 {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}

	.px-4 {
		padding-right: 1.5rem !important;
		padding-left: 1.5rem !important;
	}

	.flex-grow-0 {
		flex-grow: 0 !important;
	}

	.border-top {
		border-top: 1px solid #dee2e6 !important;
	}
</style>