@page
@model ChatSystem.Pages.Chat.ChatGroup

<div class="container chat-section">
    <div class="row g-0">
        <div class="col-12 col-md-3 border-end chat-list">
            <div class="px-4 d-none d-md-block">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 search-box">
                        <input type="text" class="form-control my-3" placeholder="Search..." />
                    </div>
                </div>
            </div>

            @foreach (var conversation in Model.ConversationDtoList)
            {
                @if (conversation.isGroup)
                {
                    <a href="#" class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center">
                        <div class="badge bg-success float-end">
                            <a href="@Url.Page("/Users/UserGroup", new { conversationId = conversation.ConversationId })" class="btn btn-sm text-white">Details</a>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle me-1" alt="@conversation.ConversationName" width="40" height="40" />
                            <div class="flex-grow-1 ms-3">
                                @conversation.ConversationName
                                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                            </div>
                        </div>
                    </a>
                }

                else
                {
                    <a href="#" class="list-group-item list-group-item-action border-0">
                        <div class="badge bg-success float-end">
                            <a href="@Url.Page("/Users/UserList", new { conversationId = conversation.ConversationId })" class="btn btn-sm text-white">Details</a>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="@conversation.Avatar" class="rounded-circle me-1" alt="@conversation.OtherUserId" width="40" height="40" />
                            <div class="flex-grow-1 ms-3">
                                @conversation.OtherUserName
                                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                            </div>
                        </div>
                    </a>
                }

            }

            <hr class="d-block d-lg-none mt-1 mb-0" />
        </div>
        <div class="col-12 col-md-7" id="chat-details">
        </div>
        <div class="col-12 col-md-2">
            <div style="margin-left: 7px">
                <div class="card-body">
                    <div class="position-relative text-center mb-3">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle me-1" width="60" height="60">
                    </div>
                    <h5 class="card-title text-center">@Model.Conversation.ConversationName</h5>
                    <hr class="mb-4">
                    <h6>Group Members:</h6>
                    @foreach (var participant in Model.GroupChatParticipants)
                    {
                        <li class="list-group-item">@participant.KnownAs</li>
                    }
                    <button type="button" class="btn btn-primary mt-3">Add User</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadChatDetails(event) {
        event.preventDefault(); // Prevent default link behavior

        var conversationId = $(this).data("conversation-id");

        $.ajax({
            url: "/Chat/GetChatDetails/" + conversationId,
            type: "GET",
            success: function (data) {
                // Update UI with retrieved chat details
                $("#chat-details").html(data); // Update the content of the chat details container
            }
        });
    }
</script>



<style>
    html, body {
        margin: 0;
        height: 120%;
        overflow: hidden
    }



	.chat-online {
		color: #34ce57
	}

	.chat-offline {
		color: #e4606d
	}


    .chat-list{
        max-height: 80vh;
        overflow-y: scroll
    }   
    .chat-list > * {
        margin: 20px 0;
        padding: 0 10px;
    }

    .chat-list > *:first-child {
        margin-top: 0px;
    }

	.chat-messages-section {
		display: flex;
		flex-direction: column;
		max-height: 80vh;
		overflow: hidden;
        padding-bottom: 10px
	}
    .all-chat-message{
        grid-column: 2;
        grid-row: 2;
        overflow-y: scroll;
        align-content: end;
        display: flex;
        flex-direction: column-reverse;
    }

	.chat-message-left,
	.chat-message-right {
		display: flex;
		flex-shrink: 0
	}

	.chat-message-left {
		margin-right: auto
	}

	.chat-message-right {
		flex-direction: row-reverse;
		margin-left: auto
	}

	.py-3 {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}

	.px-4 {
		padding-right: 1.5rem !important;
		padding-left: 1.5rem !important;
	}

	.flex-grow-0 {
		flex-grow: 0 !important;
	}

	.border-top {
		border-top: 1px solid #dee2e6 !important;
	}
</style>